<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Поиск схожих книг
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="panel panel-primary" id="similar_books_panel" style="width: 70%;">
                    <!--div class="panel-heading">
                        <h4 class="panel-title">Поиск схожих книг</h4>
                    </div-->

                    <div class="container-fluid" id="book_search_container">
                        <form id="book_search_form">
                            <div class="form-group row">
                                <label class="col-sm-8 col-form-label" for="book_select">Выберите книгу:</label>
                                <div class="col-sm-6">
                                    <select id="book_select" class="form-control"></select>
                                </div>
                            </div>
                            <button id="similar_books_button" type="button" class="btn btn-info sc-no-default-cmd" style="margin-bottom: 5px">Найти схожие</button>
                            <div id="result_div" style="margin-top: 20px;">
                                <p>Результат поиска:</p>
                                <ul id="result"></ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Книжные рекомендации
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="panel panel-primary" id="similar_books_panel" style="width: 70%;">
                <div class="container-fluid" id="book_recommend_container">
                    <form id="book_recommend_form">
                        <div class="form-group row">
                            <label class="col-sm-8 col-form-label" for="author_select">Предпочитаемый автор:</label>
                            <div class="col-sm-6">
                                <select id="author_select" class="form-control"></select>
                            </div>
                        </div>
                        <button id="recommend_books_button" type="button" class="btn btn-info sc-no-default-cmd" style="margin-bottom: 5px;">Получить рекомендацию!</button>
                        <div id="recommend_result_div" style="margin-top: 5px;"><p id="recommend_title"></p><ul id="result_recommend"></ul></div>
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
</div>