	<div class="panel-primary">
		<style type="text/css">
		   .block { 
		    margin: 1rem;
		   }
  		</style>

		<div class="form-group block" style="width: 50%">
				<h4 id="title">Вычислить среднюю оценку книги</h2>
			<div class="block">
				<label for="book">Введите название книги</label>
				<input type="text" id="book" class="form-control" placeholder="Название" aria-label="Username" aria-describedby="basic-addon1" list="propagation">
				<datalist id="propagation">

				</datalist> 
			</div>
			  	
			<div class="block">
				<text id="labelProcessing" type="text"></text>
				<div class="block" id="results">
					 <h4 id="labelAnswer" type="text">Результат:</h4>
					 <h4 id="loading"></h4>
					 <br>
				</div>
			</div class="block">
				<button id="buttonFind" type="button" class="btn btn-primary">Вычислить</button>
			</div>
		</div>	
	</div>
